/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(to right, #f1e3e3, #646306) !important;
    
}
.bg-gradient {  
    background: linear-gradient(to right, #050505, #aeb3af) !important;
}
#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
